.banner {
  min-height: 540px;
  position: relative;
  background-image: url(../images/main-bg.webp);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;

  &-video {
      position: relative;
    // position: absolute; в неї relative, хоча сказала absolute. ролі не грає не те, не те

    @include center;
    top: 30%;
  }
}

.shop {
  &-banner {
    background: rgb(25, 27, 35);
    width: 100%;
    height: 336px;
    padding-left: 24px;
    align-items: center;
    display: flex;
    position: relative;

    &:hover {
      &:after {
        opacity: 1;
      }

      .shop-logo {
        transform: rotate(180deg);
      }
    }

    &:after, &::before {
      content: "";
      display: block;
      @include center;
      z-index: 0;
      width: 100%;
      height: 100%;
    }

    &:before {
      background: url("../images/effect.webp") no-repeat center/contain;
    }

    &:after {
      background: url("../images/banner-glow.webp") no-repeat center/contain;
      opacity: .5;
      transition: opacity .25s;
    }

    &__section {
      // margin-top: 200px;
      margin-top: 400px;
    }

    &__wrapper {
      overflow: hidden;
      min-height: 540px;
      // min-height: 500px;
      display: flex;
      align-items: flex-end;
    }

    &__subtitle {
      color: $grey;
      font-size: 24px;
      font-weight: 900;
      line-height: 32px;
    }

    &__title {
      color: $light;
      font-size: 70px;
      font-weight: 900;
      line-height: 125%;
      margin-top: 32px;
    }

    &__image {
      position: absolute;
      right: 10%;
      bottom: -23px;
      z-index: 2;
    }

    &__logo {
      position: absolute;
      top: 25px;
      right: 25px;
      z-index: 1;

      img {
        transition: transform 1s ease-in-out;
        transform: rotate(0);
      }
    }
  }
}



