.tracks {
  padding: 16px 0 32px 0;
  margin-top: 20px;

  &-section {
    padding: 50px 0;
  }

  &-list {
    margin-top: 40px;

    &__item {
      display: grid;
      gap: 24px;
      grid-template-columns: 300px 1fr;
      grid-template-rows: auto 40px;
      grid-template-areas: 
      "image info"
      "image button";

      &-image {
        grid-area: image;
        width: 100%;
        height: 300px;

        img {
          width: 100%;
          object-fit: cover;
        }
      }

      &-info {
        grid-area: info;
      }

      &-date {
        color: $grey;
        font-size: 14px;
        text-transform: uppercase;
      }

      &-title {
        color: $light;
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin: 16px 0;
      }

      &-description {
        color: $light;
        font-size: 14px;
        font-weight: 500;
        line-height: 24px;
      }

      &-button {
        @include button;

        grid-area: button;
        width: 213px;
        padding: 12px;
      }

      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }
}

.track {
  cursor: pointer;
  text-transform: uppercase;
  width: max-content;
  display: grid;
  gap: 16px;
  position: relative;
  grid-template-columns: 300px 1fr;
  grid-template-areas: 
  "image date"
  "title .";

  &-item {
    &:nth-child(2n) {
      .track {
        margin-left: auto;
        grid-template-columns: 1fr 300px;
        grid-template-areas: 
        "date image"
        ". title";
      }
    }
  }

  &-image {
    grid-area: image;
    width: 100%;
    height: 300px;
    position: relative;

    img {
      object-fit: cover;
    }

    .icon {
      &-pause {
        width: 100px;
        height: 100px;
        fill: $light;
        @include center;
      }
    }
  }

  &-date {
    color: $grey;
    font-size: 14px;
    grid-area: date;
  }

  &-title {
    color: $light;
    font-size: 24px;
    font-weight: 400;
    line-height: 125%;
    position: absolute;
    grid-area: title;
    top: 100%;
    z-index: 2;
  }
  

}


